@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*,
*::before,
*::after {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

body,
html {
  background-color: #fb5193;
  color: #fff;
}

header {
  background-color: #d6447d;
}

header a {
  color: white;
}

.cardContainer a {
  text-decoration: none;
  color: #fff;
}

header a:hover {
  color: #a33560;
}

.cardItem:nth-child(4n),
.cardItem:nth-child(4n+3) {
  background: #ce4277;
}

.cardItem:first-child {
  background: #fb5193;
  color: #a33560;
  grid-column: 1/3;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.cardContainer {
  background-color: #df4782;
}

.cardContainer a:hover {
  background-color: #fb5193;
  color: #a33560;
}

.list-group-item:nth-child(4n),
.list-group-item:nth-child(4n+2) {
  background: #ea4a88;
}

.list-group-item:nth-child(4n+1),
.list-group-item:nth-child(4n+3) {
  background: #ce4277;
}

.list-group-item:first-child {
  background-color: #fb5193;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
}
